*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
html{
    font-size: 20px;
    }
body{
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family:'Roboto Mono', monospace,sans-serif;
    background-color:#161414 ;
    }
.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    padding:0 5rem ;
    justify-items: center;
    }
 .encabezado{
    text-align: center;
    width: 100%;
    margin:1rem auto .5rem;
    padding: 0;
    }
.titulo{
    color:rgb(117, 114, 114);
    font-size:1.8rem ;  
    }
.volver {
    width: 2rem;
    height: 2rem;
    background-image: url(../imgs/volver_006.jpg);
    background-size: contain;
    margin: 0 auto 1rem;
    line-height: 1rem;
    justify-content: center;
    font-size: 2rem;
    transition: all.5s;
    }
.volver:hover{
    filter: brightness(1.5);
    }
.volver a{
    color: #3dd797;
    }
.volver a:hover{
    opacity: 0;
    }
.galeria{
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: .5rem;
    padding: .5rem .5rem 0;
    background-color: #3b3634;
    }
.galeria img{
    transition: all .3s;
}
.galeria img:hover{
    scale: 1.07;
}
.vertical{
    display: flex;
    flex-wrap: wrap;
   }
.apaisadas{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: .5rem;
    }    
.material-placeholder{
    max-width:100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
.galeria img{
    border-radius: .2rem;
    width: 100%;
    }
    
.galeria img:hover{
    cursor: pointer;
    }  
.nota{
    width: 70%;
    max-width: 45rem;
    padding: .6rem;
    margin-bottom: 3rem;
    background-color: #131010;
    color:rgb(204, 203, 203);
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    gap: 2rem; 
    justify-content: center;
    
}
#dropbtn{
    background-color: #3b3634;
    border: 0;
    color:rgb(204, 203, 203);
    font: inherit;
    font-size: .7rem;
    justify-self: left;
    line-height: normal;
    overflow: visible;
    padding: .2rem;
    transition: all .5s;
    }  
#dropbtn:hover{
    filter: brightness(1.5);
}
#myP {
    display: none;
    width: 100%;
    text-align: left;
    margin: .6rem;
    background-color:#938686;
    color:#131010;
    padding: .5rem;
    font-size: .7rem;
    justify-self: center;
  }

/*---MEDIA QUERIES---*/
@media only screen and (min-width: 601px){
    .nota {
        width: 85%;
    }
}
@media only screen and (max-width: 769px){
    html{
        font-size: 18px;
    }
    .galeria{
        width: 60%;
        grid-template-columns: 1fr  ;
        align-content: center;
        }
    .nota {
        width: 60%;
    }
 }  
@media only screen and (max-width: 480px){
    html{
        font-size: 15px;
    }
    .galeria{
        width: 70%;
        grid-template-columns: 1fr;
    }
    .nota{
        width: 70%;
    }
}